<br><br><br>
<div
style="position: relative; margin-left: 280px;background-color: black;height: 500px; width: 1000px; z-index: 1;">



<img src="../assets/Group 1000004125.png" style="margin-top: -100px;  position: absolute;margin-left: 290px; ">

<h1 style="font-size: 350%;letter-spacing: 5px;margin-left: 80px; position: absolute; margin-top: 220px;color: white;">Thank you for contacting us !</h1>
<h1 style="font-size: 230%; color:#1DCB8B ;letter-spacing:  3px;   margin-left: 90px; position: absolute; margin-top: 350px;">
<pre>
  We have received your details. Our team
members will get in touch with you shortly.</pre>  </h1>
</div>
<br><br><br>

<div class="footer" style="background-color: #151A2C; height: 580px; width: 1440px;">

    <div style="float: left; font-size: 120%;" >
      <pre style="color: whitesmoke; margin-top:150px">
      It is a long established fact that 
      a reader will be distracted by
      the readable content of a page 
      when looking at its layout. The
      point of using Lorem Ipsum is
      that it has a more
      </pre>
    </div>
    <div style="float: left;  ">
     
        <ul style="font-size:120%; margin-top: 50px; ">
          <li><b>Service</b></li><br>
          <li><a href="#">Investor</a></li>
          <li><a href="#">Sponsors</a></li>
          <li><a href="#">Service Providers</a></li>
          <li><a href="#">Vendors</a></li>
          <li><a href="#">Volunteer's</a></li>
          <li><a href="#">NGO's</a></li>
        </ul>
    
    </div>
    <div style="float: left;">
      <ul style="font-size:120%; margin-top: 50px;">
        <li><b>Company</b></li><br>
        <li><a href="#">Service</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Our Team</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <div >
     <p style="font-size:120%; margin-top: 50px;">  <b style="color: rgb(0, 179, 255);">Join a Newsletter</b></p>
      <br>
      <form>
        <label for="">Your Email</label><br><br><br>
        <input type="email" placeholder="Enter Your Email">
        <button>Subscribe</button>
      </form><br><br>
      <a href="#"><img src="../assets/instagram 1.png"></a>
      <a href="#"><img src="../assets/twitter (1) 1.png"></a>
      <a href="#"><img src="../assets/facebook 1.png"></a>
    
    </div><br>
    
    <div class="address">
    
    </div > 
    <div class="contactdetails" style="margin-left: 500px;">
    <div style="float: left;">
        <img src="../assets/location_on.png" style="margin-top: -5px;">
    <pre style="color: white; margin-top: -45px; margin-left: 40px;">
      8819 Ohio St. South Gate,
      CA 90280</pre>
    </div>
    <div style="float: left;">
        <img src="../assets/email.png">
      <p style="color: white; margin-left: 50px; margin-top: -40px;">Lorem Ipsum@gmail.com</p>
    </div>
    <div>
        <img src="../assets/call.png">
      <p style="color: white; margin-top: -40px; margin-left:600px;">+1 386-688-3295</p>
    </div>
    </div>
    
    </div>