<img src="../assets/image 35.png" style="width: 1440px; opacity: 0.9; filter:brightness(40%); position: relative;z-index: -1;">
<h1 style="font-size: 600%;letter-spacing: 5px;margin-left: 170px; position: absolute; margin-top: -700px; color: white;">PAYMENT</h1>
<div style="background-color: black;height: 1350px;width: 1050px; margin-left:230px;margin-top: -530px; "> 
    <h1 style="font-size: 260%; color:#1DCB8B;letter-spacing:  8px;margin-left: 150px; position: absolute;">PAYMENT</h1>

    <br><br><br><br><br><br>
    <form style="margin-left: 150px;">
        <label style="margin-left: -100px;">Select a payment method</label><br><br>
        <input type="radio" value="Credit/ Debit Card" id="Credit/ Debit Card" >
        <label><img src="../assets/Vector.png">    Credit/ Debit Card</label> 
     
    
        <p>Saved Cards</p>
        <img src="../assets/Group 1000003710.png"><br><br>
        <P style="color: white; font-size: x-large;">Add New Card </P>
       
        <label>Name on Card</label><br>
        <input type="text" style="width: 580px;"><br>
        <label>Card Number</label><br>
        <input type="text" style="width: 580px;"><br>
        <div>
            <div style="float: left;">
                <label>Expiry Date</label><br>
                <input type="text" style="padding: 3px;width: 53px;"><label style="margin-left: 10px;">/</label>
                <input type="text"  style="padding: 3px;width: 53px;margin-left: 15px;">
            </div>
            <div style="margin-left: 350px;">
                <label >CCV </label><br>
                <input type="password" style="padding: 3px;width: 250px;"> 
                
            </div>
    
        </div>
    <br><br><br><br>
        <button style="background-color: #1DCB8B; border: 1px solid #1DCB8B; letter-spacing: 4px;color: white; padding: 15px; width: 600px;">PAY</button>
    <br>
    
        <input type="radio" value="UPI" id="UPI">
        <label><img src="../assets/image 47.png" style="width:40px">  UPI</label><br>
        <input type="radio" value="PayPal" id="PayPal">
        <label><img src="../assets/PayPal.png" style="width:40px">  Paypal</label><br>
        <input type="radio" value="GooglePay" id="GooglePay" >
        <label><img src="../assets/GooglePay.png"  style="width:40px;">  GooglePay</label><br>
        <input type="radio" value="Net Banking" id="Net Banking">
        <label><img src="../assets/ic_baseline-laptop.png" style="width:40px">  Net Banking</label><br>
    </form>
    </div><br><br><br>
    <div class="footer" style="background-color: #151A2C; height: 580px; width: 1440px;">

        <div style="float: left; font-size: 120%;" >
          <pre style="color: whitesmoke; margin-top:150px">
          It is a long established fact that 
          a reader will be distracted by
          the readable content of a page 
          when looking at its layout. The
          point of using Lorem Ipsum is
          that it has a more
          </pre>
        </div>
        <div style="float: left;  ">
         
            <ul style="font-size:120%; margin-top: 50px; ">
              <li><b>Service</b></li><br>
              <li><a href="#">Investor</a></li>
              <li><a href="#">Sponsors</a></li>
              <li><a href="#">Service Providers</a></li>
              <li><a href="#">Vendors</a></li>
              <li><a href="#">Volunteer's</a></li>
              <li><a href="#">NGO's</a></li>
            </ul>
        
        </div>
        <div style="float: left;">
          <ul style="font-size:120%; margin-top: 50px;">
            <li><b>Company</b></li><br>
            <li><a href="#">Service</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Our Team</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div >
         <p style="font-size:120%; margin-top: 50px;">  <b style="color: rgb(0, 179, 255);">Join a Newsletter</b></p>
          <br>
          <form>
            <label for="">Your Email</label><br><br><br>
            <input type="email" placeholder="Enter Your Email">
            <button>Subscribe</button>
          </form><br><br>
          <a href="#"><img src="../assets/instagram 1.png"></a>
          <a href="#"><img src="../assets/twitter (1) 1.png"></a>
          <a href="#"><img src="../assets/facebook 1.png"></a>
        
        </div><br>
        
        <div class="address">
        
        </div > 
        <div class="contactdetails" style="margin-left: 500px;">
        <div style="float: left;">
            <img src="../assets/location_on.png" style="margin-top: -5px;">
        <pre style="color: white; margin-top: -45px; margin-left: 40px;">
          8819 Ohio St. South Gate,
          CA 90280</pre>
        </div>
        <div style="float: left;">
            <img src="../assets/email.png">
          <p style="color: white; margin-left: 50px; margin-top: -40px;">Lorem Ipsum@gmail.com</p>
        </div>
        <div>
            <img src="../assets/call.png">
          <p style="color: white; margin-top: -40px; margin-left:630px;">+1 386-688-3295</p>
        </div>
        </div>
        
        </div>
