<img src="../assets/image 35.png" style="width: 1440px; opacity: 0.9; filter:brightness(40%); position: relative;z-index: -1;">
<h1 style="font-size: 690%;letter-spacing: 5px;margin-left: 240px; position: absolute; margin-top: -700px; color: white;">REGISTER NOW</h1>
<div style="background-color: black;height: 1200px;width: 1000px; margin-left:210px;margin-top: -500px; "> 
<h1 style="font-size: 260%; color:#1DCB8B;letter-spacing:  8px;margin-left: 190px; position: absolute; margin-top: 50px;">Let’s Start Our Business</h1>

<form style="margin-top: 140px;position: absolute; " >
   <div style="float: left; ">
    <label style="margin-left: 150px;">First Name</label><br>
    <input type="text" style="margin-left: 100px;" ></div>
   <div >
    <label style="margin-left:400px;">Last Name</label><br>
    <input type="text"style="margin-left:350px;"></div><br>
    <div style="float: left;">
        <label style="margin-left: 150px;" >Email</label><br>
        <input type="text" style="margin-left: 100px;"  ></div>
       <div style="float: left;" >
        <label style="margin-left:340px;">WhatsApp Number</label> <br>
        <input type="text"style="margin-left:340px;"></div><br><br><br>
<div style="display:block;"> 
       <label style="margin-left: 390px;">Web Page if any</label><br><br>
        <input type="text" placeholder ="                                                Place your Webpage or Website link" style="width: 540px;margin-left: 200px;" > </div>

<div>
    <label for="" style="margin-left: 360px;">Product & Service Type</label><br><br>
    <select style="width: 570px; padding: 10px;margin-left: 200px;">
    <option style="background-color: #00AC2C; width: 40px;color: white;border-bottom: 1px solid white;">B2b</option>
    <option style="background-color: #00AC2C; width: 40px;color: white;border-bottom: 1px solid white;">B2c</option>
    </select>
</div>

<div >
    <label  style="margin-left: 360px;">Services that you can offer</label><br><br>
    <input type="text" style="width: 540px;margin-left: 200px;">
</div>
<div >
    <label  style="margin-left: 280px;">Other support that you can contributes to us</label><br><br>
    <input type="text" style="width: 540px;margin-left: 200px;">
</div>
<div>
    <label for=""  style="margin-left: 390px;">Long Term Connect</label><br><br>
    
    <select style="width: 570px; padding: 10px;margin-left: 200px;">
    <option style="background-color: #1DCB8B; width: 40px;color: white; border-bottom: 1px solid white;">Value Building</option>
    <option style="background-color: #1DCB8B; width: 40px;color: white;border-bottom: 1px solid white;">Brand Building</option>
    <option style="background-color: #1DCB8B; width: 40px;color: white;border-bottom: 1px solid white;">Drive Revenue Model Solutions</option>
    <option style="background-color: #1DCB8B; width: 40px;color: white;border-bottom: 1px solid white;">Customer Engagement</option>
    </select>
</div>

<div>
    <label for=""  style="margin-left: 390px;">Short Term Connect</label><br><br>
    <select style="width: 570px;padding: 10px;margin-left: 200px;">
    <option style="background-color: #1DCB8B; width: 40px;color: white;border-bottom: 1px solid white;">Build Sales Network</option>
    <option style="background-color: #1DCB8B; width: 40px;color: white;border-bottom: 1px solid white;">Drive Back Office Solution</option>
    <option style="background-color: #1DCB8B; width: 40px;color: white;border-bottom: 1px solid white;">Product Native Iteration</option>
    <option style="background-color: #1DCB8B; width: 40px;color: white;border-bottom: 1px solid white;">Build Customer Base</option>
    <option style="background-color: #1DCB8B; width: 40px;color: white;border-bottom: 1px solid white;">Reach The Spot</option>
    </select>
</div>
<div >
    <label  style="margin-left: 330px;">Your Question and Comments</label><br><br>
    <input type="text" style="width: 540px;margin-left: 200px;">
</div><br><br>
<button style="width: 570px;background-color:#1DCB8B;color: white;font-size: xx-large; padding: 10px;border: 1px solid #1DCB8B;margin-left: 210px;">Submit</button>


</form>
</div><br><br>
<div class="footer" style="background-color: #151A2C; height: 580px; width: 1440px;">

    <div style="float: left; font-size: 120%;" >
      <pre style="color: whitesmoke; margin-top:150px">
      It is a long established fact that 
      a reader will be distracted by
      the readable content of a page 
      when looking at its layout. The
      point of using Lorem Ipsum is
      that it has a more
      </pre>
    </div>
    <div style="float: left;  ">
     
        <ul style="font-size:120%; margin-top: 50px; ">
          <li><b>Service</b></li><br>
          <li><a href="#">Investor</a></li>
          <li><a href="#">Sponsors</a></li>
          <li><a href="#">Service Providers</a></li>
          <li><a href="#">Vendors</a></li>
          <li><a href="#">Volunteer's</a></li>
          <li><a href="#">NGO's</a></li>
        </ul>
    
    </div>
    <div style="float: left;">
      <ul style="font-size:120%; margin-top: 50px;">
        <li><b>Company</b></li><br>
        <li><a href="#">Service</a></li>
        <li><a href="#">Features</a></li>
        <li><a href="#">Our Team</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <div >
     <p style="font-size:120%; margin-top: 50px;">  <b style="color: rgb(0, 179, 255);">Join a Newsletter</b></p>
      <br>
      <form>
        <label for="">Your Email</label><br><br><br>
        <input type="email" placeholder="Enter Your Email">
        <button>Subscribe</button>
      </form><br><br>
      <a href="#"><img src="../assets/instagram 1.png"></a>
      <a href="#"><img src="../assets/twitter (1) 1.png"></a>
      <a href="#"><img src="../assets/facebook 1.png"></a>
    
    </div><br>
    
    <div class="address">
    
    </div > 
    <div class="contactdetails" style="margin-left: 500px;">
    <div style="float: left;">
        <img src="../assets/location_on.png" style="margin-top: -5px;">
    <pre style="color: white; margin-top: -45px; margin-left: 40px;">
      8819 Ohio St. South Gate,
      CA 90280</pre>
    </div>
    <div style="float: left;">
        <img src="../assets/email.png">
      <p style="color: white; margin-left: 50px; margin-top: -40px;">Lorem Ipsum@gmail.com</p>
    </div>
    <div>
        <img src="../assets/call.png">
      <p style="color: white; margin-top: -40px; margin-left:600px;">+1 386-688-3295</p>
    </div>
    </div>
    
    </div>